
body{
    width: 100vw;
    height: 100vh;
    font-size: 2em;
    background-color: black;
    user-select: none;
    color: black;
    overflow: hidden;
    overflow-y: auto;
}

@font-face {
    font-family: digitalCalc;
    src: url("digital-7.regular.ttf");
}

button {
    width: 25%;
    height: 10vh;
    min-height: 80px;
    max-height: 77px;
    user-select: none;
}

.container {
    height: 100%;
    width: 100%;
}

.calculator {
    max-width: 320px;
    min-width: 320px;
}

.header {
    height: 15%;
    color: red;
    display: block;
    margin: auto;
}

#display {
    min-height: 100px;
    width: 100%;
    border: 1px solid black;
    background-color: white;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10%;
    font-size: 130%;
    font-family: digitalCalc;
    word-wrap: break-word;
}

#integerZero{
    width: 50%;
}

button:focus {
    outline: 0;
}

button:active{
    filter: invert(100%);
}

#rightSideDisplay{
    font-size: 80%;
    color: red;
    display: block;
    overflow-x: hidden;
}

.mathdisplay {
    width: 100%;
    display: block;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    animation-name: floatIn;
    animation-duration: 1s;
}

@keyframes floatIn {
    0%   {
        opacity: 0.1;
        font-size: 0.01%
    }
    50% {
        font-size: 120%
    }
    100% {
        opacity: 0.9;
        font-size: 100%
    }
}

@media (max-width: 991.2px) {
    .mathdisplay {
    text-align: center;
    }
} 